



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

/* selector universal */
*{
    margin:0 ;
    padding: 0%;
}
a{
    margin-left: 30px;
   
    color: blue;
}
#option_one, #option_2, #option_3 {
    color: #dbee6f;

}

.gruop_options {
    background-color: blueviolet;
    margin-top: 5px;
}
.group_class {
    padding: 10px;
}
.gruop_options:hover {
    background-color: #dbee6f;
    color: rgb(0, 0, 0);
}
[disabled]{
    background-color: #dbee6f;
    
}
#papa {
    border: 10px double red;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    box-shadow: 0px 20px 10px;
}
#papa >.hermanos + .hermanos {
    color: hsl(0, 92%, 51%);
}
#papa a {
    color: rgb(177, 177, 177);
}
#papa > #etiquete > a {
    color: #e00909;
}
#title_box{
    color: #e00909;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    text-align: center;
    /* margin-top: 20px; */
    margin: 20px 0;
    border: 1px dashed #e00909;
    border-radius: 10px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 10px 1px #b0cf00;
    -webkit-box-shadow: 0px 0px 10px 12px rgba(107,29,107,0.78);
    -moz-box-shadow: 0px 0px 10px 12px rgba(107,29,107,0.78);
    box-shadow: 0px 0px 10px 12px rgba(107,29,107,0.78);
    font-size: 40px;
    letter-spacing: 10px;
    word-spacing: 20px;
    text-transform: lowercase;

}
#box_father{
    width: 200px;
    height: 200px;
    background-color: black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCP7Zj7eCHIJc3ZZJ-lt2G2cMzJL4INO7lmasHJNVXZw&s);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* #box_model{ */
    /* width: 50%; */
    /* height: 50%; */
    /* background-color: #ffa500; */


/* } */
@media (min-width:800px) and (max-width:1200px){
    body{
        background-color: #c0b7b7;

    }
    h1{
        text-align: center;
      
    }
}
@media (max-width:799px){
    body{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCP7Zj7eCHIJc3ZZJ-lt2G2cMzJL4INO7lmasHJNVXZw&s);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

}
